@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");

.title2-1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 24%
  }


