@import url("https://fonts.googleapis.com/css?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap" );
@import url("https://fonts.googleapis.com/css?family=Farro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald|PT+Sans|Tajawal&display=swap");

*{
  background-color: #0F2557;
  /*background-color: aliceblue;*/
  color: white
}

.title{
  font-size: 90px;
  font-family: 'Limelight', cursive;
  text-align: center;
  margin-bottom: 20px
}

.subtitle{
  text-align: center;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 22px;
  margin-bottom: 90px
}

.image{
  width: 90px;
  height: auto;
  margin-right: 37%;
  margin-left: 15px;
  position: absolute;

}

.navElements{
  margin-left: 20px
}

.btns{
  font-size: 20px;
  padding: 13px 13px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  background-color: #eaa93c;
  margin-top: 10px;
  color: #0F2557;
  border-width: 0
}
::placeholder { 
  color: #0F2557;
}
.btnsPusher{
  font-size: 20px;
  padding: 13px 13px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  background-color: #eaa93c;
  margin-left: 72.5%;
  margin-top: 23px;
  border-width: 0;
  font-family: 'Archivo Narrow', sans-serif;
}

.btnSearch{
  font-size: 20px;
  padding: 13px 13px;
  border-top-left-radius: 10px;
  outline: none;
  background-color: white;
  margin-top: 10px;
  color: #0F2557;
  border-width: 0px;
  font-family: 'Archivo Narrow', sans-serif;
  margin-bottom: 30px;
  width: 250px
}

.btnGo{
  font-size: 20px;
  padding: 13px 13px;
  border-bottom-right-radius: 10px;
  outline: none;
  background-color: white;
  margin-top: 10px;
  color: #0F2557;
  border-width: 0px;
  background-color: orangered;
  cursor: pointer;
  font-family: 'Archivo Narrow', sans-serif;
}

.btnText{
  text-decoration: none;
  background-color: #eaa93c;
  color: #0F2557;
  font-family: 'Archivo Narrow', sans-serif;
}

.title2{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  margin-top: 90px;
  text-align: center
}

.pAll{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: 'Archivo Narrow', sans-serif;
  margin-bottom: 10%
}

.titleMovie{
  color: red;
  font-size: 22px;
}

.titleSeries{
  color: greenyellow;
  font-size: 22px;
}

.titleEnd{
  color: #eaa93c;
  font-size: 22px;
}

.form{
  margin-left: 24%
}

.titleContact{
  text-align: center;
  margin-top: 10%;
  font-size: 40px
}

.inputs{
  margin-top: 10px;
  outline: none;
  margin-right: 10px;
  font-size: 20px;
  padding: 10px 10px;
  width: 31.5%;
  border-radius: 8px;
}

.textarea{
  margin-top: 10px;
  resize: none;
  outline: none;
  border-radius: 8px;
  width: 68.5%;
  height: 85px;
  border-width: 2px;
  border-top-color: rgb(170, 169, 169);
  border-left-color: rgb(170, 169, 169);
  margin-bottom: 40px
}

.dots{
  color: orangered;
}

.labels2{
  margin-left: 30%
}

.question{
  margin-top: 60px;
  font-family: 'DM Sans', sans-serif;
  font-size: 22px
}

.question2{
  margin-top: 40px;
  font-family: 'DM Sans', sans-serif;
  font-size: 22px
}

.submitButton{
  background-color: orangered;
  border: none;
  font-size: 22px;
  padding: 12px 50px;
  margin-bottom: 100px;
  border-radius: 20px;
  margin-left: 24%;
  outline: none;
  cursor: pointer;
}

.genreText{
  font-size: 20px;
  text-decoration: none;
  font-family: 'Farro', sans-serif;
}

.genreButton{
  padding: 12px 12px;
  margin-left: 10px;
  margin-bottom: 12%;
  border-radius: 7px;
  outline: none;
}

.Image{
  border-top-left-radius: 12px ;
  border-top-right-radius: 12px ;
  margin: 0
}

.movieTitle1{
  border: 1px solid white;
  margin-top: 0;
  text-align: center;
  width: 273.5px;
  padding: 12px 12px;
  background-color: white;
  border-bottom-left-radius: 12px ;
  border-bottom-right-radius: 12px ;
  height: 60px;
}

.movieTitleText1{
  font-size: 20px;
  color: black;
  background-color: white;
  padding-top: 0px;
  cursor: pointer;
}

.movieTitle{
  border: 1px solid white;
  margin-top: 0;
  text-align: center;
  width: 273.5px;
  padding: 12px 12px;
  background-color: white;
  border-bottom-left-radius: 12px ;
  border-bottom-right-radius: 12px ;
  height: 50px;
}

.movieTitleText{
  font-size: 20px;
  color: black;
  background-color: white;
  padding-top: 10px;
  cursor: pointer;
}

.movie{
  margin-left: 40px;
  margin-bottom: 35px;
  align-content: center;
  border-radius: 13px;
}

.Allmovies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.summary{
  width: 100%;
  text-align: justify;
}

.smallmovietitle{
  width: 100%;
  text-align: justify;
}

.info{
  width: 94.7%;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 14px 14px;
  margin-top: 20px;
  text-align: justify;
  border: 1px solid white;
}

.language{
  background-color: transparent;
  text-transform: uppercase
}

.title1{
  font-size: 50px
}